html, body{
	width: 100%;
	height: 100%;
}

body{
	// background: red;
	background-image: image-url("bg.jpg");
	// background: black;
}

$gmail-border-color: rgb(207,207,207);
$gmail-button-bg: #4d90fe;
$gmail-button-border: #3079ed;
$gmail-icon-color-light: #A3A3A3;
$gmail-icon-color-dark: #5C5C5C;

figure.icon{
	display: inline-block;
	margin: 0;
	&.border-right{
		width: 40px;
		margin: 0 5px;
		border-right: 2px solid $gmail-border-color;
	}
}


@-webkit-keyframes new-mail-animation {
    0% {
    	-webkit-transform: translateX(-500px) scale(0.4, 0.4);
    	opacity: 0;
    }
    100% {
    	-webkit-transform: translateX(0px) scale(1, 1);
    	opacity: 1;
    }
    // 100% {
    // 	-webkit-transform: scale(1, 1) translate(0px, 0px);
    // 	opacity: 1;
    // }
}

.gmail-mail{
	width: 500px;
	background: white;
	border: 1px solid $gmail-border-color;
	font-size: 13px;
	// top: 20px;
	//
	-webkit-transform: translateX(-500px);

	-webkit-animation: new-mail-animation 0.6s both;
	-webkit-animation-delay: 0.6s;

	// opacity: 0;

	@include box-shadow(#555255 2px 2px 10px);
	.gmail-header,
	.gmail-reciver,
	.gmail-subject,
	.gmail-footer{
		padding: 10px;
		span{
			display: inline-block;
		}
	}
	.gmail-reciver,
	.gmail-subject{
		border-bottom: 1px solid $gmail-border-color;
		color: #777;
	}
	.gmail-header{
		background: #313131;
		color: white;
		font-weight: normal;
		.gmail-header-icons{
			float: right;
			.icon{
				color: $gmail-icon-color-light;
				margin-right: 5px;
			}
		}
	}
	.gmail-content{
		border-bottom: 1px solid $gmail-border-color;
		padding: 20px 10px;
		p.hello-phrase{
			margin-top: 0px;
		}
		p.dummy-text{
			color: #777;
			line-height: 20px;
		}
	}
	.gmail-footer{
		background: #F2F2F2;
		.icon{
			color: $gmail-icon-color-dark;
			margin-right: 5px;
		}
		.mail-options-icons{
			margin-top: 5px;
			float: right;
		}
		.send-button{
			background: $gmail-button-bg;
			padding: 8px 20px;
			margin-bottom: 0;
			border-radius: 2px;
			border: 1px solid $gmail-button-border;
			font-weight: bold;
		}
	}
}

.screen-interaction-signature{

}

@-webkit-keyframes present-form {
    0% {
    	-webkit-transform: translateX(-20px);
    	opacity: 0;
    }
    100% {
    	-webkit-transform: translateX(0px);
    	opacity: 1;
    }
}

@-webkit-keyframes flip-side {
    0% {
    	-webkit-transform: rotateY(0deg);
    }
    40% {
    	-webkit-transform: rotateY(-10deg);
    }
    100% {
    	-webkit-transform: rotateY(0deg);
    }
}

.form-wrapper{
	-webkit-perspective: 1000;
}

.form-inputs{
	margin-top: 20px;
	-webkit-animation: present-form 0.6s ease-out 0.2s both;
	// -webkit-animation-delay: 0.2s;
	// opacity: 0;
	header{
		background: rgb(232, 86, 87);
		color: white;
		text-align: center;
		margin: 0;
		padding: 10px;
		h2{
			margin: 0;
		}
	}
	h3{
		color: #553445;
		line-height: 25px;
	}
	.show-hide-step{
		h3{
			margin: 0;
		}
		// position: absolute;
		&.ng-leave,
		&.ng-enter {
		  -webkit-transition:all ease-out 0.3s;
		  -moz-transition:all ease-out 0.3s;
		  -o-transition:all ease-out 0.3s;
		  transition:all ease-out 0.3s;
		  display: block !important;
		}

		&.ng-enter.ng-enter-active,
		&.ng-leave {
		  opacity: 1;
		  -webkit-transform: translateY(0px);
		}

		&.ng-enter,
		&.ng-leave.ng-leave-active {
		  opacity: 0;
		  -webkit-transform: translateY(-50px);
		}
	}
	fieldset{
		// background: rgba(14,121,166,0.85);
		background: rgba(103, 194, 212, 0.85);
		margin-top: 0;
		border: none;
		// &.expanded{
		// 	height: 500px;
		// }
	}
	input[type=text],
	input[type=email]{
		margin: 15px 0 0 0;
		border-radius: 5px;
		background: #f0f0f0;
		color: #464744;
		-webkit-transition: all 0.4s;
	}
	// input::-webkit-input-placeholder {
	// }
	input[type=text]:focus{
		background: rgba(255, 255, 255, 1);
		// border-color: rgba(14, 121, 166, 1);
	}
	input::-webkit-input-placeholder {
	    color: #b09a86;
	}
	input.ng-dirty.ng-invalid{
		// border: 1px solid red;
	}
	.error-message{
		font-size: 14px;
		margin-top: 5px;
		margin-left: 5px;
		-webkit-transition: all 1s;
		color: #464744;
		-webkit-animation: eye-catacher-animation 1s;
		&.eye-catcher{
		}
	}
	.this-button{
		padding: 5px;
		background: white;
		font-weight: bold;
		margin-bottom: 0;
		color: #e75854;
		// border: 1px solid white;
		border-radius: 5px;
	}
	&.ng-invalid .this-button{
		background: #909492;
		color: white;
		// border: 1px solid #6f7271;
	}
	&.ng-valid .this-button{
		-webkit-animation: button-bounce 0.6s;
	}
	.key{
		// -webkit-transition: all 0.1s;
		font-weight: bold;
		&.active{
			color: #e75854;
		}
	}
}

@-webkit-keyframes button-bounce {
    0% {
    	-webkit-transform: scale(1, 1);
    }
    50% {
    	-webkit-transform: scale(1.2, 1.2);
    }
    100% {
    	-webkit-transform: scale(1, 1);
    }
}

@-webkit-keyframes eye-catacher-animation {
    0% {
    	color: red;
    	// -webkit-transform: scale(1.05, 1.1);
    }
    100% {
    	color: #464744;
    	// -webkit-transform: scale(1, 1);
    }
}
