<section class="gmail-mail" draggable>
	<header class="gmail-header">
		<span class="gmail-email-title">New message</span>
		<span class="gmail-header-icons">
		    <figure class="icon">_</figure>
		    <figure class="fa fa-expand fa-fw icon"></figure>
		    <figure class="icon">&times;</figure>
		</span>
	</header>
	<div class="gmail-reciver">
		<span>To</span>
	</div>
	<div class="gmail-subject">
		<span>Subject</span>
	</div>
	<div class="gmail-content">
		<p class="dummy-text hello-phrase">Hi!</p>
		<p class="dummy-text">The way something works on ideas and accuracy in evidence is to solve very difficult to cover up a statement or not attempt to a product is environmentally friendly. Things which are about powerpoint should be used solely as little design makes a very complicated problems without letting people know how it has come to the leading edge in terms of material in a product more in the time measurements have a complete lack of view, and showing.</p>
		<p class="dummy-text goodbye-phrase">Best regards</p>

		<div class="screen-interaction-signature" ng-controller="SignatureCtrl" text-selection>
		    <div style="font-family: sans-serif; font-size: normal; color: black;">
		        <br style="font: inherit; color: inherit;">
		        <br style="font: inherit; color: inherit;">
		        <div style="-webkit-font-smoothing: antialiased;">
		            <div style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: large; color: #111111;" ng-bind="details.name">Simon Johansson</div>
		            <div style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: small; color: #111111" ng-bind="details.title">Interaction Designer</div>
		            <div style="height: 1em;">&nbsp;</div>
		            <table style="font-size: small;" border="0" cellpadding="0" cellspacing="0">

		                <tbody>
		                    <tr ng-show="details.phone">
		                        <td style="min-width: 4em;">
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080;">Mobile&nbsp;</span>
		                        </td>
		                        <td>
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080; min-width: 4em;" ng-bind="details.phone"></span>
		                        </td>
		                    </tr>


		                    <tr>
		                        <td style="min-width: 4em;">
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080;">Office&nbsp;</span>
		                        </td>
		                        <td>
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080; min-width: 4em;">+46 8 21 21 66</span>
		                        </td>
		                    </tr>



		                    <tr>
		                        <td style="min-width: 4em;">
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080;">E-mail&nbsp;</span>
		                        </td>
		                        <td>
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080; min-width: 4em;"><a href="mailto:w@oceanobservations.com" style="color: #808080; text-decoration: none;" ng-bind="details.email"></a>&nbsp;</span>
		                        </td>
		                    </tr>

		                    <tr ng-show="details.twitter">
		                        <td style="min-width: 4em;">
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080;">Twitter&nbsp;</span>
		                        </td>
		                        <td>
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080; min-width: 4em;"><a href="" style="color: #808080; text-decoration: none;">@<span ng-bind="details.twitter"></span></a>&nbsp;</span>
		                        </td>
		                    </tr>

		                    <tr ng-show="details.skype">
		                        <td style="min-width: 4em;">
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080;">Skype&nbsp;</span>
		                        </td>
		                        <td>
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080; min-width: 4em;"><a href="" style="color: #808080; text-decoration: none;" ng-bind="details.skype"></a>&nbsp;</span>
		                        </td>
		                    </tr>

		                    <tr>
		                        <td style="min-width: 4em;">
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080;">Web&nbsp;</span>
		                        </td>
		                        <td>
		                            <span style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: normal; color: #808080; min-width: 4em;"><a target="_blank" href="http://www.screeninteraction.com/" style="color: #808080; text-decoration: none;">www.screeninteraction.com</a>&nbsp;</span>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		            <div style="font-weight: normal; font-family: Helvetica, sans-serif; height: 0.75em;">&nbsp;</div>
		            <div style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: large; color: #C61C59">
		                <strong style="font-weight: 700;">Screen Interaction
		                    <!-- <span style="font-size: small">™</span> -->
		                </strong>
		            </div>

		            <div style="font-weight: normal; font-family: Helvetica, sans-serif; font-size: small; clear: both;">
		                <a target="_blank" href="https://www.google.com/maps/place/Arne+Beurlings+Torg+3/@59.4068972,17.9571874,17z" style="color: #808080; text-decoration: none;">
		                    <span>Victoria Tower plan 29</span>
		                    <br>
		                    <span>Arne Beurlings torg 3</span>
		                    <br>
		                    <span>164 40 Kista, Stockholm, Sweden</span>
		                </a>
		            </div>

		        </div>
		    </div>
		</div>

	</div>
	<footer class="gmail-footer">
		<a href="" class="send-button button small">Send</a>
		<span class="text-formating-icons">
		    <figure class="fa fa-font fa-lg fa-fw icon border-right"></figure>
		    <figure class="fa fa-paperclip fa-lg fa-fw icon"></figure>
		    <figure class="fa fa-plus fa-lg fa-fw icon"></figure>
		</span>
		<span class="mail-options-icons">
		    <figure class="fa fa-trash-o fa-lg fa-fw icon border-right"></figure>
		    <figure class="fa fa-caret-down fa-lg fa-fw icon"></figure>
		</span>
	</footer>
</section>
